*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI,sans-serif;
}

body{
    background:linear-gradient(135deg,#071329,#10284f,#1d3f74);
    min-height:100vh;
    color:white;
}

.hero{
    text-align:center;
    padding:100px 20px;
}

.hero h1{
    font-size:55px;
    margin-bottom:20px;
}

.hero p{
    font-size:22px;
    color:#d6e4ff;
    margin-bottom:30px;
}

.start-btn{
    background:#00d4ff;
    color:black;
    border:none;
    padding:15px 40px;
    border-radius:30px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.rules-box{
    width:80%;
    margin:30px auto;
    background:#162544;
    padding:35px;
    border-radius:25px;
    box-shadow:0 0 25px rgba(0,0,0,.3);
}

.rules-box h2{
    margin-bottom:20px;
}

.rules-box li{
    margin:15px 0;
    font-size:20px;
}

.upload-box{
    width:60%;
    margin:40px auto;
    background:#162544;
    padding:35px;
    border-radius:25px;
    text-align:center;
    box-shadow:0 0 25px rgba(0,0,0,.3);
}

.upload-box h2{
    margin-bottom:25px;
}

input[type=file]{
    width:100%;
    padding:15px;
    background:white;
    border-radius:15px;
    margin-bottom:25px;
}

.upload-box button{
    background:#00d4ff;
    color:black;
    border:none;
    padding:15px 35px;
    border-radius:15px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}

.preview-box{
    width:80%;
    margin:40px auto;
    background:#162544;
    padding:30px;
    border-radius:25px;
    text-align:center;
}

.preview-box h2{
    margin-bottom:25px;
}

.preview-image{
    width:550px;
    max-width:90%;
    border-radius:20px;
    border:4px solid #00d4ff;
    box-shadow:0 0 25px rgba(0,212,255,.5);
}

.result-section{
    width:80%;
    margin:40px auto;
}

.real-box{
    background:#0f5132;
    padding:30px;
    border-radius:25px;
    text-align:center;
}

.fake-box{
    background:#7f1d1d;
    padding:30px;
    border-radius:25px;
    text-align:center;
}

.real-box h2,
.fake-box h2{
    font-size:35px;
    margin-bottom:15px;
}

.real-box h3,
.fake-box h3{
    font-size:24px;
}